#search-bar{
    height: 2.8rem;
    width: 35rem;
    margin-top: 0.5rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.3rem 0.8rem;
    background-color: var(--nav-background-color);
    border: 1.5px solid var(--nav-border);
    

}

#search-bar input{
    height: 2.5rem;
    width: 88%;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
}

#discover-toggle{
    margin-top: 0.6rem;
}