#landing{
    text-align: center;
}

#moto{
    font-size: 3rem;
    margin-top: 10%;
}

#ball1{
    height: 15rem;
    width: 15rem;
    background-color: rgb(7, 7, 191);
    /* background: radial-gradient(circle, rgb(3, 3, 122) , rgb(18, 18, 240) ,white ); */
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: -1;
    filter: blur(10px);
    animation-name: ball1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes ball1{
    from{
        filter: blur(15px);
        transform: translate(12%,-50%) skew(0);
    }
    to{
        filter: blur(15px);
        transform: translate(-50%,-20%) skew(-5deg);
    }     
}

#ball2{
    height: 45rem;
    width: 45rem;
    background-color: rgb(238, 46, 78);
    border-radius: 50%;
    position: absolute;
    bottom: -50%;
    right: -20%;
    z-index: -1;
    filter: blur(10px);
    animation-name: ball2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes ball2{  
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }    
}


#ball3{
    height: 40rem;
    width: 40rem;
    background-color: #FE3B0D;
    position: absolute;
    top: -60%;
    left: -20%;
    border-radius: 50%;
    z-index: -5;
    filter: blur(10px);
    animation-name: ball3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes ball3{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }    
}

#ball4{
    height: 30rem;
    width: 35rem;
    background-color: #68ffa4;
    position: absolute;
    bottom: -35%;
    left: -5%;
    border-radius: 50%;
    z-index: -3;
    filter: blur(10px);
    animation-name: ball4;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes ball4{
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

